name: Python CI - Unit Tests & Coverage

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  unit-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do código
      uses: actions/checkout@v3

    - name: Configurar o Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Instalar dependências
      run: |
        python -m pip install --upgrade pip
        pip install pytest pytest-mock pytest-cov requests

    - name: Executar testes com pytest e validar cobertura
      run: |
        pytest test_validador.py --cov=validador --cov=servico_correios --cov-report=term-missing
